header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0,0,0,1);
  padding: 0px 1.2em;
  .logo{
    color: var(--blue-light);
    font-weight: 700;
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    padding: 10px 120px;
  }
  nav{
    height: 80px;
  }
}
