.home{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1, h2{
    text-align: center;
  }
  .sociales{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    .social{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i{
        color: white;
        font-size: 2.5rem;
      }
    }
  }

  .particle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    mix-blend-mode: screen;
  }
}
