<section class="home" (mousemove)="onMouseMove($event)" #home id="home">
  <h1>José Luis Zúñiga</h1>
  <h2>Web Developer - Frontend</h2>
  <p>{{x}}</p>
  <div class="sociales">

    <div class="social">
      <a href="https://www.linkedin.com/in/joseluis-zuniga" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <p>Linkedin</p>
    </div>

    <div class="social">
      <a href="https://github.com/joseluis1061" target="_blank">
        <i class="fa-brands fa-github-square"></i></a>
      <p>Github</p>
    </div>

    <div class="social">
      <a href="https://t.me/JoseLuisZuniga1" target="_blank"><i class="fa-brands fa-telegram"></i></a>
      <p>Telegram</p>
    </div>

    <label class="social" for="name">
      <i class="fa-solid fa-envelope"></i>
      <p>Mail</p>
    </label>
  </div>
</section>
