<section class="experience" id="experience">
  <div class="experience__container">
    <h2 class="experience__h2">{{'experience.title' | translate}}</h2>
    <div class="experience__coulmns">
      <div class="experience__formation">
        <h3 class="experiencia__h3">{{'experience.education_title' | translate}}</h3>

        <div class="experience__card" *ngFor="let education of educations">
          <h4 class="experience__h4">{{education.title | translate}}</h4>
          <ul class="experience__ul">
            <li class="experience__li">{{education.description| translate}}</li>
          </ul>
        </div>
      </div>

      <div class="experience__jobs" *ngIf="jobs">
        <h3 class="experiencia__h2">{{'experience.job_title' | translate}}</h3>

        <div class="experience__card" *ngFor="let job of jobs">
          <h4 class="experience__h4">{{job.title | translate}}</h4>
          <ul class="experience__ul">
            <li class="experience__li" *ngFor="let description of job.descriptions">{{description | translate}}</li>
          </ul>
        </div>

        <!-- <div class="experience__card">
          <h4 class="experience__h4">Tangible design / Desarrollo Frontend</h4>
          <ul class="experience__ul">
            <li class="experience__li">Landing Page - Angular. </li>
            <li class="experience__li">Programación de módulos y componentes - Angular. </li>
            <li class="experience__li">Actualización de versiones  - Angular. </li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Iot Latam Tower /Desarrollo Software</h4>
          <ul class="experience__ul">
            <li class="experience__li">Creación y actualización de componentes - Angular. </li>
            <li class="experience__li">Actualización de funcionalidades backend - Django. </li>
            <li class="experience__li">Desarrollo de aplicación sistema de permisos  -  React. </li>
            <li class="experience__li">Desarrollo de aplicación web scraping centralización de información - Electron JS / Puppeter. </li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Universidad de Antioquia / Auxiliar de investigación</h4>
          <ul class="experience__ul">
            <li class="experience__li">Desarrollo de modelos predictivos - Python, Keras, Pandas </li>
            <li class="experience__li">Desarrollo de circuitos electrónicos - Altium Designer  </li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">IOT - Latam / Desarrollo de software - hardaware</h4>
          <ul class="experience__ul">
            <li class="experience__li">Desarrollo de componentes en React JS plataforma IOT </li>
            <li class="experience__li">Monitoreo de plataforma IOT </li>
              <li class="experience__li">Desarrollo prototipos electrónicos</li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Intecol SAS / Desarrollo sistemas de control - Visión artificial</h4>
          <ul class="experience__ul">
            <li class="experience__li">Programación de sensores de visión artificial.</li>
            <li class="experience__li">Diseño de sistemas de control de calidad y automatización</li>
          </ul>
        </div> -->

      </div>
    </div>
  </div>
</section>
