<section class="experience" id="experience">
  <div class="experience__container">
    <h2 class="experiencia__h2">Experiencia</h2>
    <div class="experience__coulmns">
      <div class="experience__formation">
        <h3 class="experiencia__h3">Educación</h3>

        <div class="experience__card">
          <h4 class="experience__h4">Profesional - Universidad del Cauca</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Ingeniero Físico </p></li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Técnico - Comfacauca / Sena</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Aseguramiento de calidad del software </p></li>
          </ul>
        </div>
      </div>
      <div class="experience__jobs">
        <h3 class="experiencia__h2">Laboral</h3>

        <div class="experience__card">
          <h4 class="experience__h4">Tangible design / Desarrollo Frontend</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Landing Page - Angular </p></li>
            <li class="experience__li"><p class="experience__p">Programación de módulos y componentes - Angular </p></li>
            <li class="experience__li"><p class="experience__p">Actualización de versiones  - Angular </p></li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Iot Latam Tower /Desarrollo Software</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Creación y actualización de componentes - Angular </p></li>
            <li class="experience__li"><p class="experience__p">Actualización de funcionalidades backend - Django </p></li>
            <li class="experience__li"><p class="experience__p">Desarrollo de aplicación sistema de permisos  -  React </p></li>
            <li class="experience__li"><p class="experience__p">Desarrollo de aplicación web scraping centralización de información - Electron JS / Puppeter </p></li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Universidad de Antioquia / Auxiliar de investigación</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Desarrollo de modelos predictivos - Python, Keras, Pandas </p></li>
            <li class="experience__li"><p class="experience__p">Desarrollo de circuitos electrónicos - Altium Designer  </p></li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">IOT - Latam / Desarrollo de software - hardaware</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Desarrollo de componentes en React JS plataforma IOT </p></li>
            <li class="experience__li"><p class="experience__p">Monitoreo de plataforma IOT </p></li>
              <li class="experience__li"><p class="experience__p">Desarrollo prototipos electrónicos</p></li>
          </ul>
        </div>

        <div class="experience__card">
          <h4 class="experience__h4">Intecol SAS / Desarrollo sistemas de control - Visión artificial</h4>
          <ul class="experience__ul">
            <li class="experience__li"><p class="experience__p">Programación de sensores de visión artificial.</p></li>
            <li class="experience__li"><p class="experience__p">Diseño de sistemas de control de calidad y automatización</p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
