.experience {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  align-items: center;
  padding-bottom: 60px;

  &__container{
    max-width: 1100px;
    width: 100%;
    padding: 0 1.2em;
  }

  &__columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__li{
    &::before{
      content: "•";
      color: var(--blue-light);
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  @media (min-width: 768px) {
    padding-top: 100px;
    &__container{
      max-width: 1100px;
      width: 60%;
      margin: 0 auto;
      padding: 0 1.2em;
    }
    &__coulmns{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    &__formation{
      width: 50%;
    }
    &__jobs{
      width: 50%;
    }

  }


}
