<section class="experience" id="experience">
  <div class="experience__container">
    <h2 class="experience__h2">{{'experience.title' | translate}}</h2>
    <div class="experience__coulmns">
      <div class="experience__formation">
        <h3 class="experiencia__h3">{{'experience.education_title' | translate}}</h3>

        <div class="experience__card" *ngFor="let education of educations">
          <h4 class="experience__h4">{{education.title | translate}}</h4>
          <ul class="experience__ul">
            <li class="experience__li">{{education.description| translate}}</li>
          </ul>
        </div>
      </div>

      <div class="experience__jobs" *ngIf="jobs">
        <h3 class="experiencia__h2">{{'experience.job_title' | translate}}</h3>

        <div class="experience__card" *ngFor="let job of jobs">
          <h4 class="experience__h4">{{job.title | translate}}</h4>
          <ul class="experience__ul">
            <li class="experience__li" *ngFor="let description of job.descriptions">{{description | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
