
.card {
  //height: 280px; //170
  //max-width: 500px; //300
  overflow: hidden;
  position: relative;
  cursor: pointer;

  p{
    font-size: 16px;
  }

  &:hover{
    .card__overlay{
      left: 0;
      opacity: 1;
    }
  }

  &-image-wrapper {
    height: 135%;
    will-change: transform;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay{
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.95);
    opacity: 0;
    transition: all ease-in-out 0.5s;
    .card__icons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    .card__review,
    .card__technologies{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1em;
      i{
        font-size: 2em;
        color: white;
      }
    }
  }


}

