<section class="aboutme" id="aboutme" #aboutme>
  <div class="section-container">
    <div class="resume">
      <h2>About me</h2>
      <p>
        Hola, soy Jose Luis Zúñiga, soy un programador con múltiples experiencias y me desempeño como Frontend.
      </p>
      <p>
        Cuento con otras experiencias como desarrollador de software, en aplicaciones de visión artificial para la automatización industrial y el desarrollo de drivers para microcontroladores.
      </p>
      <p>
        Mi profesión es ingeniero Físico graduado de la Universidad del Cauca. Una carrera de conocimiento transversal que permite incorporar diversas tecnologías, en especial la programación que es el área donde me gusta trabajar.
      </p>
      <div class="soft-skills">
        <label class="skill" for="name">
          <i class="fa-solid fa-brain"></i>
          <p>Planeación</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-solid fa-handshake-angle"></i>
          <p>Colaborativo</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-solid fa-dice"></i>
          <p>Dinamico</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-solid fa-dna"></i>
          <p>Evolutivo</p>
        </label>
      </div>
    </div>

    <div class="skills-container">
      <h2>My Skills</h2>
      <div class="skills-list">
        <label class="skill" for="name">
          <i class="fa-brands fa-angular"></i>
          <p>Angular</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-js"></i>
          <p>Java Script</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-html5"></i>
          <p>HTML5</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-sass"></i>
          <p>Sass</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-css3-alt"></i>
          <p>CSS</p>
        </label>


        <label class="skill" for="name">
          <i class="fa-brands fa-python"></i>
          <p>Python</p>
        </label>

        <label class="skill" for="name">
          <i><img src="../../../../assets/svg/icons/typescript-100.svg" alt=""></i>
          <p>Typescript</p>
        </label>

        <label class="skill" for="name">
          <i><img src="../../../../assets/svg/icons/django.svg" alt=""></i>
          <p>Django</p>
        </label>

        <label class="skill" for="name">
          <i><img src="../../../../assets/svg/icons/gsap.svg" alt=""></i>
          <p>GSAP</p>
        </label>

      </div>

    </div>
  </div>
</section>
