<section class="aboutme" id="aboutme" #aboutme>
  <div class="section-container">
    <div class="resume">
      <h2>About me</h2>
      <p class="aboutme__p">
        Hola, soy Jose Luis Zúñiga, soy ingeniero físico y desarrollador de software con conocimientos técnicos en Angular para el Frontend, Java para el backend.
      </p>
      <p class="aboutme__p">
        Cuento con otras experiencias como desarrollador de software, en aplicaciones de visión artificial (Python) para la automatización industrial y el desarrollo de drivers para microcontroladores.
      </p>
      <p class="aboutme__p">
        Participo en diferentes etapas del desarrollo del software desde el levantamiento de requerimientos con los stakeholders, desarrollo de la aplicación, pruebas, despliegue, manteniemiento.
        <!-- Aplicando principios solid -->
      </p>
      <div class="soft-skills">
        <label class="skill" for="name">
          <i class="fa-solid fa-brain"></i>
          <p>Planeación</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-solid fa-handshake-angle"></i>
          <p>Colaboración</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-solid fa-dice"></i>
          <p>Dinamico</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-solid fa-dna"></i>
          <p>Evolutivo</p>
        </label>
      </div>
    </div>

    <div class="skills-container">
      <h2>My Skills</h2>
      <div class="skills-list">
        <label class="skill" for="name">
          <i class="fa-brands fa-angular"></i>
          <p>Angular</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-js"></i>
          <p>Java Script</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-html5"></i>
          <p>HTML5</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-sass"></i>
          <p>Sass</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-css3-alt"></i>
          <p>CSS</p>
        </label>


        <label class="skill" for="name">
          <i class="fa-brands fa-python"></i>
          <p>Python</p>
        </label>

        <label class="skill" for="name">
          <i><img src="../../../../assets/svg/icons/typescript-100.svg" alt="skill logo" loading="lazy" decoding="async"></i>
          <p>Typescript</p>
        </label>

        <label class="skill" for="name">
          <i><img src="../../../../assets/svg/icons/django.svg" alt="skill logo" loading="lazy" decoding="async"></i>
          <p>Django</p>
        </label>

        <label class="skill" for="name">
          <i><img src="../../../../assets/svg/icons/gsap.svg" alt="skill logo" loading="lazy" decoding="async"></i>
          <p>GSAP</p>
        </label>

      </div>

    </div>
  </div>
</section>
