<section class="aboutme" id="aboutme" #aboutme>
  <div class="section-container">
    <div class="resume">

      <h2>{{ 'about_me.title' | translate }}</h2>
      <p class="aboutme__p">{{ 'about_me.paragraph_1' | translate }}</p>
      <p class="aboutme__p">{{ 'about_me.paragraph_2' | translate }}</p>
      <p class="aboutme__p">{{ 'about_me.paragraph_3' | translate }}</p>
      <!-- Aplicando principios solid -->
      <div class="soft-skills">
        <label *ngFor="let soft_skill of soft_skills" class="skill" for="name">
          <i [class]="soft_skill.icon"></i>
          <p>{{ soft_skill.text | translate }}</p>
        </label>
      </div>
    </div>

    <div class="skills-container">
      <h2>{{'about_me.skills_title' | translate}}</h2>
      <div class="skills-list">
        <label class="skill" for="name">
          <i class="fa-brands fa-angular"></i>
          <p>Angular</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-js"></i>
          <p>Java Script</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-html5"></i>
          <p>HTML5</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-sass"></i>
          <p>Sass</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-css3-alt"></i>
          <p>CSS</p>
        </label>

        <label class="skill" for="name">
          <i class="fa-brands fa-python"></i>
          <p>Python</p>
        </label>

        <label class="skill" for="name">
          <i
            ><img
              src="../../../../assets/svg/icons/typescript-100.svg"
              alt="skill logo"
              loading="lazy"
              decoding="async"
          /></i>
          <p>Typescript</p>
        </label>

        <label class="skill" for="name">
          <i
            ><img
              src="../../../../assets/svg/icons/django.svg"
              alt="skill logo"
              loading="lazy"
              decoding="async"
          /></i>
          <p>Django</p>
        </label>

        <label class="skill" for="name">
          <i
            ><img
              src="../../../../assets/svg/icons/gsap.svg"
              alt="skill logo"
              loading="lazy"
              decoding="async"
          /></i>
          <p>GSAP</p>
        </label>
      </div>
    </div>
  </div>
</section>
