<section class="contact" id="contact" #contact>
  <div class="contact-container section-container" id="contact-container">
    <h2>Contact me</h2>
    <p>Contactame y hablemos de nuestro proximo trabajo.
      Envia un correo o contactame por
      <a class="contact__a" href="https://www.linkedin.com/in/joseluis-zuniga" target="_blank">Linkendin</a>
    </p>
    <form
      netlify name="formContactMe" method="POST" data-netlify="true"
      method="POST" data-netlify="true"
      [formGroup]="formContactMe"
      class="form"
    >
      <input type="hidden" name="formContactMe" value="formContactMe">
      <div class="form__item">
        <label class="form__label" for="name">Name</label>
        <input id="name" class="form__input" type="text" formControlName="name" name="name">
        <p class="form__error" *ngIf="formContactMe.get('name')?.errors?.['required'] && formContactMe.get('name')?.touched">
          Name is required.
        </p>
      </div>

      <div class="form__item">
        <label class="form__label" for="email">Correo</label>
        <input required id="email" class="form__input" type="email" formControlName="email" name="email">
        <p class="form__error" *ngIf="formContactMe.get('email')?.errors?.['required'] && formContactMe.get('email')?.touched">
          Email is required.
        </p>
      </div>


      <div class="form__item form__item--area">
        <label class="form__label" for="message">Mensaje</label>
        <textarea class="form__textarea" name="Message" id="message" cols="30" rows="10" formControlName="message" type="textarea" name="message"></textarea>
        <p class="form__error" *ngIf="formContactMe.get('message')?.errors?.['required'] && formContactMe.get('message')?.touched">
          Message is required.
        </p>
      </div>

      <div data-netlify-recaptcha="true"></div>
      <p *ngIf="mailSend">Su correo se envio de manera exitosa.</p>
      <p *ngIf="failInputs">Todos los campos son obligatorios.</p>
      <button type="submit" class="form__btn">
        Enviar
      </button>
    </form>
    <!--
    <form name="contact" method="POST" data-netlify="true">
      <p>
        <label>Your Name: <input type="text" name="name" /></label>
      </p>
      <p>
        <label>Your Email: <input type="email" name="email" /></label>
      </p>
      <p>
        <label>Your Role: <select name="role[]" multiple>
          <option value="leader">Leader</option>
          <option value="follower">Follower</option>
        </select></label>
      </p>
      <p>
        <label>Message: <textarea name="message"></textarea></label>
      </p>
      <p>
        <button type="submit">Send</button>
      </p>
    </form> -->

  </div>

</section>
