<section class="contact" id="contact" #contact>
  <div class="contact-container section-container" id="contact-container">
    <h2>Contact me</h2>
    <p>Contactame y hablemos de nuestro proximo trabajo.
      Mandame un correo o contactame por
      <a class="contact__a" href="https://www.linkedin.com/in/joseluis-zuniga" target="_blank">Linkendin</a>
    </p>
    <form [formGroup]="formContactMe" class="form"  (ngSubmit)="onSubmit()">
      <div class="form__item">
        <label class="form__label" for="name">Name</label>
        <input id="name" class="form__input" type="text" formControlName="name">
        <p class="form__error" *ngIf="formContactMe.get('name')?.errors?.['required'] && formContactMe.get('name')?.touched">
          Name is required.
        </p>
      </div>

      <div class="form__item">
        <label class="form__label" for="email">Correo</label>
        <input required id="email" class="form__input" type="email" formControlName="email">
        <p class="form__error" *ngIf="formContactMe.get('email')?.errors?.['required'] && formContactMe.get('email')?.touched">
          Email is required.
        </p>
      </div>


      <div class="form__item form__item--area">
        <label class="form__label" for="message">Mensaje</label>
        <textarea class="form__textarea" name="Message" id="message" cols="30" rows="10" formControlName="message" type="textarea"></textarea>
        <p class="form__error" *ngIf="formContactMe.get('message')?.errors?.['required'] && formContactMe.get('message')?.touched">
          Message is required.
        </p>
      </div>

      <button type="submit" class="form__btn">
        Enviar
      </button>
    </form>

  </div>

</section>
