.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section-container{
    max-width: 1100px;
    width: 60%;
    margin: 0 auto;
  }

  .form{
    border: 1px solid black;
    border-radius: 15px;
    padding: 2em 2em;

    background-color: black;

    color: white;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    &__item{
      width: 100%;

    }
    &__label{
      width: 80px;
      align-self: flex-start;
    }
    &__input,
    &__textarea{
      width: calc(100% - 80px);
      border-radius: 15px 15px;
      border: 1px solid transparent;
      padding: 0.5em 1em;
    }
    &__item--area {
      display: flex;
    }

    &__label {
      align-self: flex-start;
    }
    &__btn{
      border: 1px solid transparent;
      width: 100%;
      border-radius: 15px 15px;
      padding: 0.5rem 1rem;
      font-weight: 700;
    }
  }

}
