.menu{
  position: fixed;
  top: 0;
  height: 100vh;
  left: -100vw;
  width: 100%;
  opacity: 0;
  z-index: 100;
  background-color: white;
  transition: all ease 0.4s;
  padding: 2rem 2rem;
  &__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__active{
    left: 0;
    opacity: 1;
  }

  &__close{
    align-self: flex-end;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 15px 15px;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      padding: 0;
      margin: 0;
    }
  }
  &__close:hover{
    transform: rotate(360deg);
    background-color: black;
    background-color: var(--blue-light);
    color: white;
  }

  &__area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
  }

  &__selection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__vertical{
    display: inline-block;
    transform: rotate(270deg) translate(-40%, 0%);
    p{
      margin: 0;
      padding: 0;
      font-size: 24px;
      color: var(--blue-light);
      font-weight: 700;
    }
  }
  &__nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
  }
  &__p--btn{
    font-size: 40px;
    font-weight: 700;
    transition: all 0.3s ease;
  }
  &__p--btn:hover{
    color: var(--blue-light);
  }

  &__information{
    margin-left: 30px;
  }

  &__p--email{
    font-size: 20px;
    font-weight: 700;
  }
  &__social{
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    a{
      color: var(--blue-light);
      transition: all 0.4s ease-in-out;
    }
    a:hover{
      text-decoration: underline;
      transform: scale(1.2);
    }
  }

  @media (min-width: 768px) {
    padding: 5rem 5rem;
    &__area{
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }
  .color__blue{
    color: var(--blue-light);
    text-decoration: underline;
    font-weight: 700;
  }
}


