@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --h2-spartan-lg: 64px;
  --h2-spartan-sm: 48px;
  --h3-spartan-lg: 32px;
  --h3-spartan-sm: 24px;
  --p-spartan-lg: 24px;
  --p-spartan-lg: 20px;
  // --blue-light: #009dff;
  --blue-light: #5100ff;
  --red-danger: rgb(225, 16, 16);
  --success: rgb(16, 225, 82);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

h1{
  font-size: 96px;
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2,h3{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--blue-light);
}
h2{
  font-size: 48px;
}
@media (max-width: 768px) {
  h2{
    font-size: 64px!important;
  }
}
h3{
  font-size: 24px!important;
}
@media (max-width: 768px) {
  h3{
    font-size: 32px!important;
  }
}

h4{
  font-size: 16px;
}
@media (max-width: 768px) {
  h4{
    font-size: 22px!important;
  }
}
h5{
  font-size: 18px;
}
@media (max-width: 768px) {
  h5{
    font-size: 26px!important;
  }
}
p{
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}
a{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
}
li{
  list-style: none;
  font-size: 16px;
}
.container{
  padding: 120px 40px;
}
section {
  position: relative;
  padding-top: 80px;
  /* Aligns the snap position to the start on the x-axis */
  scroll-snap-align: start;
  /* Ensures scrolling always stops at this snap point */
  scroll-snap-stop: always;
}
@media (min-width: 768px) {
  section {
    padding-top: 100px;
  }
}
@media (min-width: 1280px) {
  section {
    padding-top: 120px;
  }
}

/* Importing Bootstrap SCSS file.
@import 'bootstrap/scss/bootstrap';
 */
